.item{
	display: inline-flex;
	
	margin: 1em;
}
.item a{
	text-align: center;
	width: 100%;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.2em;
	font-weight: 100;
}

.col{
	background-color: white;
	width: 10em;
	padding: 2em;
	color: rgb(145, 28, 139);
	border: solid 2px black
}
.bor{
	border: solid 2px black;
	background-color: black;
	width: 10em;
	color: pink;
	padding: 2em;
}



header{
	background-color: rgb(182, 182, 182);
	border-bottom: 1.4px solid gray;
	widows: 100%;
	padding: 1em;
	display: flex;
	justify-content: center
}

body{
	margin: 0;

}

.closebtn{
	background-color: red;
	color: black;
	font-family: impact;
	text-align: center;
	font-weight: lighter;
	width: 30px;
	height: 20px;
	position: absolute;
	z-index: 999;
}

#newentry{
	margin: 0 auto;
}

.closebtn:hover{
	background-color: brown;
}