.item{
	display: inline-flex;
	margin: 1em;
}
.item a{
	text-align: center;
	width: 100%;
	font-family: monospace;
	font-size: 1.2em;
	font-weight: 100;
	color: black;
}

.col{
	background-color: #dadada;
	width: 10em;
	padding: 2em;
	border: solid 1.4px rgb(92, 92, 92)
}
.bor{
	border: solid 1.4px rgb(92, 92, 92);
	background-color: white;
	width: 10em;
	padding: 2em;
}



header{
	background-color: #ededed;
	border-bottom: 1.4px solid gray;
	widows: 100%;
	padding: 1em;
	display: flex;
	justify-content: center
}
header input[type="text"]{
	border: none;
	font-family: monospace	;
	height: 1.2em;
	padding: 0.3em 1em;

	font-size: 1.2em;
}

body{
	margin: 0;

}

.closebtn{
	background-color: red;
	color: black;
	font-family: impact;
	text-align: center;
	font-weight: lighter;
	width: 30px;
	height: 20px;
	position: absolute;
	z-index: 999;
}

#newentry{
	margin: 0 auto;
}

.closebtn:hover{
	background-color: brown;
}